<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome</title>
  </head>
  <body>
    <h1>welcome to contextapp project</h1>
    <h2 style="text-align: center; background-color: blue">
      hello,<u>{{nm}}</u>
    </h2>
    <form>
      <input type="text" placeholder="name" />
      <br>
       <br>
      <input type="email" placeholder="email" />
      <br>
       <br>

      <input type="number" placeholder="mobile" />
      <br>
       <br>
      <input type="city" placeholder="text" />
      <br>
       <br>
      <input type="submit" />
    </form>
  </body>
</html>
